[Unit]
Description=Velocity
After=network-online.target
Wants=network-online.target
[Service]
TimeoutStartSec=0
ExecStartPre=-/bin/podman kill velocity
ExecStartPre=-/bin/podman rm velocity
ExecStartPre=/bin/rm -r /work/repos/velocity-docker/
ExecStartPre=/bin/git clone https://github.com/MCWertGaming/velocity-docker.git /work/repos/velocity-docker/
ExecStart=/work/repos/velocity-docker/start.sh
ExecStop=/bin/podman stop velocity \
         /bin/podman rm velocity
[Install]
WantedBy=multi-user.target
